@model IEnumerable<CRM_web.Models.Users>

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>

<p>
    <a asp-action="Create">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuario
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Nombre
                
            </th>
            <th>
                Apellido
                
            </th>
            <th>
               Email
            </th>
            <th>
                Genero
                
            </th>
            <th>
                Fecha de nacimiento
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateoOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
